body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-07-super-trunfo-bg.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

button {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

h2 {
    color: white;
}

#carta-jogador {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    margin: 1.5rem;
}

.carta-status input {
    margin: 20px 10px;
}

.opcoes {
    color: white;
}